In [1]:
import numpy as np
import pandas as pd

In [7]:
sheet2 = pd.read_excel("C:\\Users\\uxoriousghost\\Desktop\\taskforpythondevelopers.xlsx","Sheet2")

In [9]:
sheet2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Allocation,Closed
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22475.7696,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.888750,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22556.683500,1.0,0.85,1.0,NaN,NaN,NaN,NaN,NaN
5,1118.625000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4717.983750,1.0,0.70,1.0,NaN,NaN,NaN,NaN,NaN
7,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10554.234180,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,129655.400000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,281430.953125,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sheet1 = pd.DataFrame()

In [12]:
sheet1

Empty DataFrame
Columns: []
Index: []

In [13]:
sheet1['Particulars'] = []

In [15]:
sheet1['values'] = []

In [17]:
sheet1.drop('values', axis=1,inplace=True)

In [18]:
sheet1

Empty DataFrame
Columns: [Particulars]
Index: []

In [19]:
sheet1[''] = []

In [20]:
sheet1

Empty DataFrame
Columns: [Particulars, ]
Index: []

In [21]:
sheet1['values'] = []

In [33]:
def usr_inp():
    particulars = input("Enter particulars : ")
    return particulars

In [37]:
def insert_from_Sheet2():
    row_index = int(input("Enter Row Index: "))
    column_index = int(input("Enter Column Index: "))
    data = sheet2.iloc[row_index,column_index]
    return data

In [39]:
def insert_symbols():
    symbol = input("Enter symbol: ")
    return symbol

In [44]:
def if_else_for_values():
    data  = int(input("Please specify type of value: 1 = import from sheet2, 2 = static input, 3 = calculation"))
    if data == 1:
        value = insert_from_Sheet2()
        return value
    elif data == 2:
        value = usr_inp()
        return value
    elif data == 3:
        value = None
        return value

In [51]:
if_else_for_values()

Please specify type of value: 1 = import from sheet2, 2 = static input, 3 = calculation2
Enter particulars : 2.22

'2.22'

In [49]:
sheet1

Empty DataFrame
Columns: [Particulars, , values]
Index: []

In [52]:
for i in range(2):
    new_row = {'Particulars' : usr_inp(),'' : insert_symbols(),'values' :if_else_for_values()}
    sheet1 = sheet1.append(new_row,ignore_index=True)
    print(sheet1)

Enter particulars : reserve
Enter symbol: kt
Please specify type of value: 1 = import from sheet2, 2 = static input, 3 = calculation1
Enter Row Index: 0
Enter Column Index: 7
  Particulars          values
0     reserve  kt  22475.7696
Enter particulars : alumina grade
Enter symbol: %
Please specify type of value: 1 = import from sheet2, 2 = static input, 3 = calculation2
Enter particulars : 0.53
     Particulars       values
0        reserve  kt  22475.8
1  alumina grade   %     0.53

sheet1

In [53]:
sheet1

     Particulars       values
0        reserve  kt  22475.8
1  alumina grade   %     0.53