In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\Users\\uxoriousghost\\Python Machine Learning\\Datasets\\iris.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
X = df.iloc[:, :4]
y = df['species']

In [5]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [7]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X, y, test_size = 0.3, random_state = 3)

In [8]:
print("X_train shape",X_train.shape)
print("X_test shape",X_test.shape)

print("y_train shape",y_train.shape)
print("y_test shape",y_test.shape)

X_train shape (105, 4)
X_test shape (45, 4)
y_train shape (105,)
y_test shape (45,)

In [9]:
from sklearn.naive_bayes import  GaussianNB

NB_Model = GaussianNB()
NB_Model.fit(X_train,y_train)
print("NB_Model trained..!!!")

NB_Model trained..!!!

In [10]:
y_pred = NB_Model.predict(X_test)
y_pred

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'versicolor', 'setosa', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'setosa', 'virginica'], dtype='<U10')

In [11]:
from sklearn import metrics
acc = metrics.accuracy_score(y_pred,y_test)
print("NB_model Acc is : ",acc*100)

NB_model Acc is :  97.77777777777777

In [12]:
SL = float(input("Enter SL : "))
SW = float(input("Enter SW : "))
PL = float(input("Enter PL : "))
PW = float(input("Enter PW : "))

Enter SL : 5.9
Enter SW : 3.0
Enter PL : 5.1
Enter PW : 1.8

In [15]:
result = NB_Model.predict([[SL,SW,PL,PW]])
print("Predicted result is : ", result[0])

Predicted result is :  virginica